<!DOCTYPE html>
<html lang="en"  ng-app="videoStore">

<head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head
         content must come *after* these tags -->
    <title>Video Store</title>
        <!-- Bootstrap -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="styles/bootstrap-social.css" rel="stylesheet">
    <link href="styles/mystyles.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div class="container">
      <div class="row row-content" ng-controller="filmDetailController as filmCtrl">

          <div class="col-xs-12">
              <div class="media-list">
                  <div class="media">
                      <div class="media-left media-middle">
                          <a href="#">
                              <img class="media-object img-thumbnail" width="150" height="150"
                                   ng-src={{filmCtrl.film.image}} alt="video store">
                          </a>
                      </div>
                      <div class="media-body">
                          <h2 class="media-heading">{{filmCtrl.film.title}}
                              <span class="label label-danger">{{filmCtrl.film.release}}</span>
                              <span class="badge">{{filmCtrl.film.price | currency}}</span></h2>
                          <p>{{filmCtrl.film.description}}</p>
                          <p>Duracion: {{filmCtrl.film.length}} minutos</p>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-xs-10 col-xs-offset-2">
              <div class="form-group">
                  <label for="usr">Ordenar por:</label>
                  <input type="text" class="form-control" id="filterBy" name="filterBy"
                         ng-model="filmCtrl.filterBy"
                         placeholder="Opciones: author, rating, comment">
              </div>
          </div>

          <div class="col-xs-10 col-xs-offset-2">
              <blockquote ng-repeat="comment in filmCtrl.film.comments | orderBy: filmCtrl.filterBy">
                  <p>{{comment.rating}} Estrellas</p>
                  <p>{{comment.comment}}</p>
                  <footer>{{comment.author}}
                      <cite title="Source Title">{{comment.date | date:'medium'}}</cite>
                  </footer>
              </blockquote>
          </div>


      </div>
	</div>

    <script src="../bower_components/angular/angular.min.js"></script>

    <script>

        var app = angular.module('videoStore',[]);
        
        app.controller('filmDetailController', function() {

            var film={
                         title:'ACADEMY DINOSAUR',
                         image: 'images/academy_dinosaur.jpg',
                         length: '86', 
                         price:'4.99',
                         release: '2006',
                         description:'A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies.',
                         comments: [
                               {
                                   rating:5,
                                   comment:"Excelente Pelicula!!",
                                   author:"John Lemon",
                                   date:"2017-01-01T17:57:28.556094Z"
                               },
                               {
                                   rating:4,
                                   comment:"Muy recomendada!",
                                   author:"Paul McVites",
                                   date:"2017-01-05T17:57:28.556094Z"
                               },
                               {
                                   rating:3,
                                   comment:"Entretenida pero por momentos aburrida",
                                   author:"Michael Jaikishan",
                                   date:"2017-01-13T17:57:28.556094Z"
                               },
                               {
                                   rating:4,
                                   comment:"Muy buena!!",
                                   author:"Ringo Starry",
                                   date:"2017-01-02T17:57:28.556094Z"
                               },
                               {
                                   rating:2,
                                   comment:"Muy lenta",
                                   author:"25 Cent",
                                   date:"2017-01-02T17:57:28.556094Z"
                               }
                               
                           ]
                      };
            
            this.film = film;
            
        });

    </script>    
</body>

</html>
